<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>Express</title>
<link rel="stylesheet"  href="demo-src/style.css">
<script type="text/javascript" src="demo-src/json2.js"></script>
<script type="text/javascript" src="demo-src/jquery-1.8.2.js"></script>
<script type="text/javascript" src="demo-src/underscore.js "></script>
<script type="text/javascript" src="demo-src/backbone.js"></script>
<script type="text/javascript" src="javascripts/backbone.finder.js"></script>
<script>$(function(){
  /* 設定 */
  //var finder;
  var entrylist, navigator, morepage;
  finder = new Finder({
    pageSize: 10,
    predicate: function(query,entry){
      if( query.pattern && query.pattern != 'all' ){
        if( query.pattern == 'even' && entry.id % 2 != 0 ){ return false; }
        if( query.pattern == 'odd'  && entry.id % 2 != 1 ){ return false; }
      }
      return true;
    }
  });
  entrylist = new EntrylistView({
    model:finder,
    el:$("#finder-entrylist"),
    entryOptions:{ tagName : "dl" }
  });
  navigator = new NavigatorView({
    model:finder,
    el:$("#finder-navigator")
  });
  morepage = new MorePageView({
    model:finder,
    el:$("#finder-morebutton")
  });

  /* 読み込み */
  finder.load("demo-src/data.json");
  //var makeData = function( num ){
  //  var ret = [];
  //  for( var i = 1; i <= num; i++ ){
  //    ret.push({ id:i, title:"title"+i, body:"world"+i});
  //  }
  //  return ret;
  //}
  //finder.load( makeData( 100 ) );

  /* 検索 */
  $("#queries").on( "click", ">a", function(e){
    var query = { pattern : $(this).attr('id') };
    finder.filtering( query );
  });
});
</script>
</head>
<body>
<div id="finder-entrylist"></div>
<div id="finder-navigator"></div>
<a id="finder-morebutton" href="#more">more</a>
<p id="queries">
  <a id="odd" href="#odd">奇数</a>
  <a id="even" href="#even">偶数</a>
  <a id="all" href="#all">全て</a>
</p>
<script id="entry-view-tmpl" type="text/template">
  <dt> <%= title %> </dt>
  <dd> <%= body %> </dd>
</script>
</body>
</html>
